
.button {
    -fx-background-color: linear-gradient(#6a11cb, #2575fc);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #1a73e8;
    -fx-border-width: 1;
}


.button:hover {
    -fx-background-color: linear-gradient(#2575fc, #6a11cb);
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Button pressed effect */
.button:pressed {
    -fx-background-color: #1a73e8;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}
